.fiftyless .nav-tab-box .tab{
  background-color: rgb(64, 191, 148) !important;
}
.onefifty .nav-tab-box .tab{
  background-color: rgb(63, 95, 120) !important;
}
.threehun .nav-tab-box .tab{
  background-color: rgb(239, 102, 109) !important;
}
.morethreehundred .nav-tab-box .tab{
  background-color:  rgb(202, 221, 215) !important;
}