 

<div class="image-container-social">
  <img src="image/social_2.png">
</div>


<div class="main-main-content-social">
  <div class="col-xs-2">
   
      <div class="col-social-media">
        
          <a class="icon" href ="https://www.facebook.com/choosebroadspire" target="_blank">
            <img src="image/facebook.png" >  
          </a>
        
      </div>
      <div class="col-social-media">
       
          <a class="icon" href ="https://twitter.com/Broadspire1"target="_blank"> 
            <img src="image/twitter.png" > 
          </a>
       
      </div>
      <div class="col-social-media">
         
          <a class="icon" href ="https://www.linkedin.com/company/broadspire"target="_blank">
            <img src="image/linkedin.png" >    
          </a>
         
      </div>
    
    <div class="clear"></div>
  </div>
</div>



