<div class="whiteblank-pass">
    <div class="main-security-info-pass">
      <div  style="text-align:center;">
      <span  class="setup">Welcome to MyClaim. Setup your new password.</span>
      </div>
      <br>
      <br>
      <div class="CentrSpace">
          <ul style="font-size: 14px !important; list-style-type:none;">
              <li class="li-first-to-zip">
                  New Password:
                  </li>
                  <li style="list-style: outside none none;">
                    <input class="form-control-data" id="newPassword"  placeholder="Enter password" type="text" [(ngModel)]="newPassword" type="{{type}}" />
                  </li>
          
                  <li class="li-first-to-zip">
                    Re-enter New Password:
                  </li>
                  <li style="list-style: outside none none;">
                    <input class="form-control-data" placeholder="Re-enter password" type="text" [(ngModel)]= "renewPassword" type="{{type}}" />
                  </li>
          
                  <li style="list-style: outside none none;margin-bottom: 20px; margin-top: 10px;">
                    <input class="checkpass"  type="checkbox" value (click)="toggleShow()" />
                    <label class="showpas">Show Password</label>
                  </li>
                </ul>
          
                <ul class="hint-pass-info">
                  <li>Your Password</li>
                  <li>must be at least 8 characters</li>
                  <li>has not been used in the previous 8 passwords</li>
                  <li>does not contain your account or full name</li>
                  <li>has minimum 3 days between password reset</li>
                  <li>contain at least 3 of the following 4 character groups:</li>
                  <li>a) English uppercase characters (A through Z)</li>
                  <li> b) English lowercase characters (a through z)</li>
                  <li>c) Numerals 0 through 9</li>
                  <li>d) Non-alphabetic characters (such as !, $, #, %)</li>
                </ul>
          
                <div class="button-section-pass" >
                  <div class="button-main-pass left-sidebtn" >
                      <button class="btn-save-pass" (click)="resetUserPassword(oldPassword,newPassword,renewPassword)">Save</button>
                  </div>
                  <div class="button-main-pass right-sidebtn" >
                    <button class="btn-cancel-pass" (click)="gotosettings()">Cancel</button>
                  </div>
                </div>
                <div style="clear:both;"></div>
              </div>
            </div>
          </div>
          