 

<div class="whiteblank-registration-lob"> 
  <br>
 <span class="registuser-registration-lob">ACCESS LEAVE/DISABILITY CLAIMS</span>
 <br>
 <br>
 <ul style="font-size: 14px !important; list-style-type:none;padding: 0 15px;
 ">
 <li class="li-first-to-zip-registration" style="margin-top: 10px;" >
   Enter the Claim Number provided in your confirmation email
</li>
<li style="list-style: outside none none;">
<input class="form-control-data-registration"   type="email" id="Re-email" [(ngModel)]="claimNo" />
</li>

 <li class="li-first-to-zip-registration" style="margin-top: 10px;" >
   Enter the email address where you received your claim confirmation
 </li>
 <li><input style="margin-bottom:20px;" type="email" id="email" oncopy="return false"  class="form-control-data-registration" [(ngModel)]="email" /></li>

 <!-- <li class="li-first-to-zip-registration" style="margin-top: 10px;" >
    Re-enter email address
 </li>
 <li style="list-style: outside none none;">
 <input class="form-control-data-registration"  style="margin-bottom:20px;" type="email" id="Re-email" [(ngModel)]="reEmail" />
 </li> -->
 </ul>

  <!-- <div class="col-xs-12-lob tititile-lob">
    <div class="setup-registration-lob">Setup Online Reset Information (Select any 3)</div>
 
    <ul class="new-user-ul-li-section" *ngFor="let ques of questions; let i = index">

          <li><input type="checkbox" id="checkBox{{i}}" (change)="checkValue($event,i)">{{ques.question}}</li>
          <li><input type="text" class="form-control-data-registration" id="securityAns{{i}}" [(ngModel)]="inputElem[i]" style="display:none" /></li>

        </ul>
        </div>  -->

        <div style="padding: 0px 15px 0 15px;">
            <div class="col-12-registration-lob" style="width:100%;">
            <div class="col-6-registration-lob" >
            <button (click)="createNewUser1()" class="btn-continue-registration">Continue</button>
            </div>
            <div class="col-6-registration-lob">
            <button (click)="goToWorkersComp()"  class="btn-cancel-registration">Cancel</button>
            </div>
            </div>
        
            <div class="col-15-registration-lob">
              <div class="col-16-registration-lob">
             <button class="btn-help-registration-lob" (click)="gotoHelp()" >Help</button>
              </div>
              </div>
              </div>


              </div>