 <app-topnav></app-topnav>
 


<div class="whiteblank-resetpass">
  


    <div class="CentrSpaceresetpass">
      <ul style="font-size: 14px !important; list-style-type:none;">
       

        <li class="li-first-to-zip">
         Password:
        </li>
        <li style="list-style: outside none none;">
          <input class="form-control-data" type="password"  placeholder="Enter password" #myInput [(ngModel)]="newPassword" type="{{type}}" />
        </li>

        <li class="li-first-to-zip">
          Re-enter Password:
        </li>
        <li style="list-style: outside none none;">
          <input class="form-control-data" placeholder="Re-enter password" type="text" [(ngModel)]= "reNewPassword" type="{{type}}" />
        </li>


        <li style="list-style: outside none none;margin-bottom: 20px; margin-top: 15px;">
          <input class="checknewckh1"  type="checkbox" value (change)="type=_commonApiCall.toggleShow()" />
          <label class="showpas"  for="">Show Password</label>

        
        </li>
      </ul>

      <ul class="hint-pass-info">
        <li>Your Password</li>
        <li>must be at least 8 characters</li>
        <li>has not been used in the previous 8 passwords</li>
        <li>does not contain your account or full name</li>
        <li>has minimum 3 days between password reset</li>
        <li>contain at least 3 of the following 4 character groups:</li>
        <li>a) English uppercase characters (A through Z)</li>
        <li> b) English lowercase characters (a through z)</li>
        <li>c) Numerals 0 through 9</li>
        <li>d) Non-alphabetic characters (such as !, $, #, %)</li>
      </ul>


      <div class="button-section-resetpass" >
        <div class="button-main-resetpass left-sidebtn" >
            <button class="btn-save-resetpass" (click)="resetForgotPassword(newPassword, reNewPassword)">Save</button>
        </div>
        <div class="button-main-resetpass right-sidebtn" >
          <button class="btn-cancel-resetpass" (click)="resetForgotCancel()">Cancel</button>

      
        </div>
      </div>
      <div style="clear:both;"></div>
    </div>
  </div>

