 
<nav class="navbarstyle" [class.headerBack] = "parent">
 
   <div class="logo-div logo-sec-new-one">

   <div class="logoclaim mobileruc" (click)= "goBack()"  *ngIf="parent" >
   <img alt="." src=".\image\broadspire-logo-eufw.png" style="max-height: 58px;">

  

   <div class="back-arrow">
   <div  class="arrowdiv"> 
   <i aria-hidden="true" class="fa fa-arrow-left"></i>
   <div style="clear:both;"></div>
   </div> 
   </div>
   </div>
    

   <div class="logoclaim" *ngIf = "parent2">
   <img alt="." src=".\image\broadspire-logo-eufw.png" >
   </div>

   </div>
   

   <div class="title-div fourty">
    <!-- <div class="titltxtd" id="titleBar">{{title}}</div>  -->
   <div class="mycomp">
       <a  id="worker" (click) = "claimClicked = false;eventCalled();lasttitle()" [routerLinkActive]="['router-link-active']"   class="list-group-item-mycom-2">
   <!--<a  [routerLink]="['']" (click)="claimClicked = true;eventCalled();lasttitle()" [routerLinkActive]="['router-link-active']" [class.active]="activeFooterMenu=='leaveTechPortal'" class="list-group-item-mycom">-->
       <span class="menu-item-img-span-1">Worker's Comp</span> 
      </a></div>
      
   <div class="mycomp">
       <a  [routerLink]="['leaveTechPortal']" (click)="activeFooterMenu='leaveTechPortal';claimClicked = true;eventCalled();" [routerLinkActive]="['router-link-active']" [class.active]="activeFooterMenu=='leaveTechPortal'" class="list-group-item-mycom">
            <span class="menu-item-img-span-1">Disability/Leave</span>

       

         </a></div>
   <div class="mycomp">
       <a [routerLink]="['settings']" (click)="activeFooterMenu='Settings';eventCalled()" [routerLinkActive]="['router-link-active']"  [class.active]="activeFooterMenu=='Settings'" class="list-group-item-mycom">
            <span class="menu-2">Settings</span>
           </a></div>
   <div class="mycomp">
       <a [routerLink]="['']" [routerLinkActive]="['router-link']" class="list-group-item-mycom">
            <span class="menu-2">Log Out</span>
           </a></div>
   </div>

   <div class="text-style">
   <div class="clstext" >{{WelcomeUsername}}</div>

   <!--<div class="moreobtion" > 
   
   </div>-->

 <div class="moreobtion"  >
             <span (click)="moreDropdownFunc(drop)"><img src=".\image\more.png"></span>
            
 

   <!--for mobile-->
   <!--<div class="mobile" style="display:block">
   <button class="navbar-toggle" data-target="#navbar-collapse-id" data-toggle="collapse" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
   </div>-->
<div #drop class="w3-dropdown" id="navbar-collapse-id-qwe" style="display:none;">
    <ul id=dropdownMenu12 class="navbar-right-1"  aria-labelledby="dropdownMenu12" >
                
   
    <div class="w3-dropdown-dr">
          <li> 
           <div class="menu-icon">
           <img src=".\image\user-icon.png" >
            </div>     
      <span  class="potato">{{WelcomeUsername}}</span>
     
          </li>
          
          <li>
      <a [routerLink]="['settings']" class="w3-bar-item w3-button" (click)="k()">
            <div class="menu-icon">
           <img src=".\image\settings2_64x64.png" >
            </div>
         <span class="potato">Settings</span></a>
          </li>

          <li>
      <a [routerLink]="['']" class="w3-bar " (click)="k()">
            <div class="menu-icon">
        <img  class="abc" src=".\image\logout_64x64.png">
            </div>
        <span class="potato"> Log Out</span></a>
          </li>
    </div>
  
                    <!--<li>
                        <a ng-click="back()" ng-hide="hideBack" class="" (click)="k()">
                            <span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Back
                        </a>
                    </li>-->
                   
                    <!--<li>
                        <a [routerLink]="['settings']" class="ng-scope" (click)="k()">
                           <img src=".\image\settings2_64x64.png" >
                            <div style="clear:both;"></div>
                            <span class="gly gly-settings"></span>&nbsp;Settings
                        </a>
                    </li>-->
                    <!--<li class="">
                        <a  [routerLink]="['']"  class="ng-binding" (click)="k()">
                              <img  class="abc" src=".\image\logout_64x64.png">
                               <div style="clear:both;"></div>
                            <span class="gly gly-log-out"></span>&nbsp;Log Out
                        </a>
                    </li>-->
                </ul>
                 <div style="clear:both;"></div>
            </div>
            <div style="clear:both;"></div> 

            </div>
 <div style="clear:both;"></div>
   </div>
   
 

   </nav>
 





