
<nav class="navbarstyle">
   <div class="logo-div logo-sec-new-one">
   <div class="logoclaim">
   <img src=".\image\broadspire-logo-eufw.png">

   <div class="back-arrow">
   <div *ngIf="parents != undefined" class="arrowdiv" (click)="backToParents()"> <i aria-hidden="true" class="fa fa-arrow-left"></i> </div>
   <div style="clear:both;"></div>
   </div>
   
   </div>
   </div>
   <div class="title-div fourty">
   <div class="titltxtd" id="titleBar">{{title}}</div>
   </div>
   <div class="text-style ">
   <div class="userdiv twenty" style="display: none;">Hi,Priyanka</div>
   </div>
   </nav>
   
   <div style="clear:both;"></div>
























 