 
//  @import '../../common/variables.scss';
// @import '../../common/mixins.scss';

.clstext{
position: fixed;
    right: 20px;
    line-height: 80px;

}
.arrowdiv{
    float: left;
    font-size: 15px;
    color: #fff;
    position: relative;
    top: 14px;
    right: -74px;
    cursor: pointer;
    font-weight: 800;
   -webkit-tap-highlight-color: transparent;
    }
.active2{
    outline:none;
    background-color: #cce4d6;
}
.navbarstyle{
background-color:$navbarstyle-background-color;
padding: 0px !important;
margin-top: 0px;
position: fixed;
top: 0;
height: 80px;
width: 100%;
z-index: 999;
}
.logo-sec-new-one {
    float: left;
    width:27%;
    color: $color-sixty;
    height:$height-sixty;
    vertical-align: middle;
    min-height: 80px;
    display: table;
}
 
    .mycomp {
        /* width: 12.5%; */
        // float: left;
 
        margin-left: 90px;
        line-height: 5.4;
 
        font-size: 15px;
        font-weight: 600;
        position: relative;
        float: left;
        cursor: pointer;
        color: #ffffff;
        height: 69px;
        vertical-align: middle;
        min-height: 69px;
        display: table;
       outline:none;
}
 
.fourty{
    float: left;
    width:  50%;
    text-align: center;
    color: #ffffff;
    height: 75px;
    vertical-align: middle;
    min-height: 80px;
    display: table;
   line-height:  69px;
}
// .list-group-item-mycom{
//   display: inline-block;
//     height: $list-group-item-height;
//     position: relative;
//     vertical-align: middle;
//     min-height: 50px;
//     padding: 0px 0px 0px 40px;
//     width:100%;
// }
.menu-item-img-span-1{
       color:white;

   
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #888 !important;
}
.menu-2{
       color:white;
}
// .mycomp .list-group-item-mycom a.router-link-active {
//     background-color: #cce4d6 !important;
//     font-weight: 600;
// }
a.list-group-item-mycom.router-link-active {
        background-color: black;
    
}
a.active {
    background-color: black;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #ddd;
}

.navbar-default .navbar-toggle {
    border-color: #ddd;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
   
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
// .navbar-default .navbar-toggle .icon-bar {
//     background-color: #888;
// }

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #888;
}
/* .twenty{
    font-weight: 500;
    margin-left: 35px;
    display: table-cell;
    height: 80px;
    padding-left: 251px;
    line-height: 80px;
    min-height: 80px;
    vertical-align: middle;
    

} */
.logoclaim {
    display: table-cell;
    height:$logoclaim-height;
    min-height: 80px;
    vertical-align: middle;

    img {
    float: left;
    padding-left: 51px;
    max-height: 54px;
    display: table-cell;
    vertical-align: middle;
}

}
.titltxtd {
    font-size: 22px;
    font-weight: 600;
    margin-left: 35px;
    display: table-cell;
    height: $titltxtd-height;
    padding-left: 257px;
    line-height:  69px;
    min-height: 69px;
    vertical-align: middle;
    text-transform: capitalize;
}
.text-style {

    font-size: 15px;
    font-weight: 500;
    position: relative;
    float: left;
   // width: 25%;
    cursor: pointer;
    color: #ffffff;
    height: 69px;
    vertical-align: middle;
    min-height: 69px;
    display: table;
}


//-------------------------------------------------------Responsive scss for Header start-----------------------------------------------------------
@media only screen and (max-width: 800px){
/*  {
.navbarstyle .fourty {
   float: none !important;
     
} */

.logoclaim.mobileruc img {
    display: none;
}
.fourty {
    
    height:  69px;
    vertical-align: middle;
    min-height:  69px;
        white-space: nowrap;
    
}
.clstext {
     font-size: 12px;
    line-height: 70px;
}

.logo-sec-new-one {
    
    height:  69px;
    
    min-height:  69px;
    line-height:  69px;
    }
.logoclaim {
    
    height: 69px;
    min-height:  69px;
    line-height:  69px;
    vertical-align: middle;
}
.logo-div img {
    float: left;
    padding-left: 26px;
    max-height: 38px;
    margin-top: 4px;
    }
    .arrowdiv {
    position: inherit !important;
       
    
}
.logoclaim img {
    padding-left: 10px;
    max-height: 35px;
   
}
.back-arrow{
    display: table;
    height: 69px;
    vertical-align: middle;
    line-height: 69px;
    margin-left: 13px;
}
.titltxtd {
     
    padding-left: 0px;
      font-size: 18px;
   
}

/* .twenty {
    font-size: 12px;
    font-weight: 500;
    margin-left: inherit;
    display: inherit;
    height: inherit;
    padding-left: inherit;
    line-height: inherit;
    min-height: inherit;
    vertical-align: middle;
}
  */
.navbarstyle {
    
    height: 69px;
    line-height:  69px;
}
} 

@media screen and (min-width: 801px) and (max-width:1024px){

.titltxtd {
     
 font-size: 18px;
   
}  
.arrowdiv {
   font-size: 15px;
    color: #fff;
    position: relative;
    top: 14px;
    right: -74px;
    cursor: pointer;
    font-weight: 800; 
} 
.back-arrow{
    vertical-align: middle;
     
}

}

@media screen and (min-width: 320px) and (max-width:580px){
.arrowdiv {
    position: inherit !important;
     
}
}

@media screen and (max-width:767px){
.arrowdiv {
    position: inherit !important;
     
}
.titltxtd {
     
    padding-left: 0px;
     
    font-size: 16px;
   
}
.back-arrow{
    display: table;
    height:69px;
    vertical-align: middle;
    line-height: 69px;
    margin-left: 13px;
}
}

@media screen and (min-width: 768px) and (max-width:1024px){
 .logoclaim.mobileruc img {
    display: none;
}
.arrowdiv {
    position: relative;
    top: 0px;
     
   
}
}


@media screen and (min-width: 600px) and (max-width:980px){
/* .twenty {
     padding-left: 100px;
    margin-left: 100px;
}
   */
}

@media screen and (min-width: 768px) and (max-width:1380px){
/* .twenty {
     padding-left: 240px;
    
} */
  
.logoclaim.mobileruc img {
    display: none;
}
.arrowdiv {
    position: relative;
    top: 0px;  
}
  
}
@media only screen and (min-width: 450px) and (max-width: 920px){
     .mycomp {
     margin-left: 18px;
    font-size: 13px;
    margin-top: 4px;
     }
     .menu-2{
         display:none;
     }
     .fourty{
         width:0px !important;
     }
     
}


     
@media only screen and (min-width: 800px) and (max-width: 1024px){
     .menu-2{
         display:none;
     }
}

@media only screen and (max-width: 450px){
     .mycomp {
     margin-left: -11px; 
     font-size: 11px;
     margin-top:10px;
     }
     .list-group-item-mycom{
         margin-left:19px;
     }
     .menu-2{
         display:none;
     }
     .fourty{
         width:0% !important;
     }
     
     
}
@media only screen and (min-width: 1025px) and (max-width:1450px){
.mycomp {
    margin-left: 35px;
}
}
@media only screen and (max-width: 1024px){
.clstext{
         display:none;
     }
}

.navbar-default .navbar-collapse {
    border-color: #e7e7e7;
}
 .container-fluid>.navbar-collapse {
    margin-right: -15px;
    margin-left: -15px;
}
.navbar-fixed-top .navbar-collapse {
    max-height: 340px;
}
.navbar-collapse.in {
    overflow-y: auto;
}
.collapse.in {
    display: block;
}
.navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
   
    border-top: 1px solid transparent;
   
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
}
.navbar-nav {
    margin: 7.5px -15px;
}
.nav {
    padding-left: 0;
   
    list-style: none;
}
.nav>li {
    position: relative;
    display: block;
}
.navbar-default .navbar-nav>li>a {
    color: #777;
}

.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.navbar-collapse:before,.nav:before{
    display: table;
    content: " ";
}
.glyphicon-chevron-left:before {
    content: "\e079";
}
.glyphicon-home:before {
    content: "\e021";
}
.glyphicon-user:before {
    content: "\e008";
}
.glyphicon-log-out:before {
    content: "\e163";
}
.navbar-collapse:after,.nav:before{
        clear: both;
        display: table;
    content: " ";
}