.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis-title {
  fill: none;
  stroke: black;
  stroke-width: 0.5px;
}


.axis--x path {
  /*display: none;*/
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
 
 
.nav-pie  {
  position: fixed;
  top: 116px;
  z-index: -1;
  background-color: #94a497;
  width: 81%;
  box-sizing: border-box;
  line-height: 41px;
  margin: 0px 15px;
}
.nav-pie ul {
  padding: 0;
  margin: 0;
}

.nav-pie  li {
  display: inline;
  outline: none;
  list-style-type: none;
  font-weight: 600;
  padding: 11px 16px;
  font-size: 14px;
  color: white;;
  cursor: pointer;
  transition: background-color 200ms ease-in;
}
.top-stats[_ngcontent-c12] {
  padding: 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  color: black;
  // background-color: #94a497;
}
.top-stats[_ngcontent-c12] .cardcharts[_ngcontent-c12] {
  text-align: center;
  background-color: #d3dcd3  ;
}
.top-stats[_ngcontent-c12] .heading[_ngcontent-c12] {
  opacity: .75;
  font-weight: 600;
}
.top-stats[_ngcontent-c12] .value[_ngcontent-c12] {
  font-size: 22px;
  font-weight: 600;
  color: #007a33;
}
.cardcharts {
 border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.main-div{
position: fixed;
top: 153px;
right: 0;
left: 260px;
bottom: 0;
overflow: auto;
}