  
<div _ngcontent-c5="" class="nav-pie">
    <ul _ngcontent-c5="" class="sub-menu-item">
        <!--<li _ngcontent-c5="" class="tabcls" routerlinkactive="active"  router-link="./roster" router-link-active="active">Total Users Count</li>-->
        <li>
        <a [routerLink]="['../roster']"   [routerLinkActive]="['router-link-active']" class="tabcls router-link-active">
         <!--<a  id="worker"  (click) = "claimClicked = true;lasttitle();eventCalled();workercompClick();" [routerLinkActive]="['router-link-active']" class="list-group-item-mycom router-link-active">
       <a  id="leave" [routerLink]="['leaveTechPortal']"(click)="eventCalled();leavedisabilityClick()" [routerLinkActive]="['router-link-active']" class="list-group-item-mycom">-->
        <span>Total Users Count</span>
        </a>
        </li>
         <li>
        <a [routerLink]="['./NoOfUser']"   [routerLinkActive]="['router-link-active']" class="tabcls">
        <span>MYClaim Users Login Counts by CP</span>
        </a>
        </li>
        <li>
        <a [routerLink]="['./UniqueAccess']"   [routerLinkActive]="['router-link-active']" class="tabcls">
        <span>Unique Users Access Count by CP</span>
        </a>
        </li>
        <li>
        <a [routerLink]="['./AvgCount']"   [routerLinkActive]="['router-link-active']" class="tabcls">
        <span>Ave. Num of Logins By Unique ID</span>
        </a>
        </li>







        <!--<li _ngcontent-c5="" class="tabcls" routerlinkactive="active"  router-link="./NoOfUser" router-link-active="active">MYClaim Users Login Counts by CP</li>
        <li _ngcontent-c5="" class="tabcls" routerlinkactive="active" router-link="./UniqueAccess" router-link-active="active">Unique Users Access Count by CP</li>
        <li _ngcontent-c5="" class="tabcls" routerlinkactive="active" router-link="./AvgCount" router-link-active="active">Ave. Num of Logins By Unique ID</li>
       -->
    </ul>
    <div  class="clear"></div>
</div>
<div  class="clear"></div> 
<div Class="main-div"> 
<div _ngcontent-c12="" class="top-stats">
    <div _ngcontent-c12="" class="cardcharts">
      <div _ngcontent-c12="" class="heading">
        Total User
      </div>
      <div _ngcontent-c12="" class="value">
        10924
      </div>
    </div>
    <div _ngcontent-c12="" class="cardcharts">
      <div _ngcontent-c12="" class="heading">
        Last 6 months (Active Users)
      </div>
      <div _ngcontent-c12="" class="value">
        6000
      </div>
    </div>
    <div _ngcontent-c12="" class="cardcharts">
      <div _ngcontent-c12="" class="heading">
        Last year (Active Users)
      </div>
      <div _ngcontent-c12="" class="value" >
        6500
      </div>
    </div>
    <div _ngcontent-c12="" class="cardcharts">
      <div _ngcontent-c12="" class="heading">
        Last 5 years (Active Users)
      </div>
      <div _ngcontent-c12="" class="value">
        8000
      </div>
    </div>
  </div>
  
  </div>



 <!--  <div class="gdr">-->

  <div class="card123">
    <div #containerPieChart> 
      <svg  width="600" height="500">
</svg>    

    </div>
  </div>

  <!-- <div class="card"> -->

    <!-- <router-outlet></router-outlet> -->
    <!-- <div #containerPieChart2></div> -->
    <div id="barChartDiv3">
      
    </div>

    <div style="clear: both;"></div>
<!--   </div> -->
<!-- </div> -->