<div  class="fixed-bg">



</div>
<div _ngcontent-c5="" class="nav">
    <ul _ngcontent-c5="" class="sub-menu-item">
        <li _ngcontent-c5="" class="tab active" routerlinkactive="active" tabindex="0" ng-reflect-router-link="./roster" ng-reflect-router-link-active="active">Total Users Count</li>
        <li _ngcontent-c5="" class="tab" routerlinkactive="active" tabindex="0" ng-reflect-router-link="./applicant" ng-reflect-router-link-active="active">MYClaim Users Login Counts by CP</li>
        <li _ngcontent-c5="" class="tab" routerlinkactive="active" tabindex="0" ng-reflect-router-link="./catclient" ng-reflect-router-link-active="active">Unique Users Access Count by CP</li>
        <li _ngcontent-c5="" class="tab" routerlinkactive="active" tabindex="0" ng-reflect-router-link="./catevent" ng-reflect-router-link-active="active">Ave. Num of Logins By Unique ID</li>
       
    </ul>
</div>
<div Class="main-div"> 
<div _ngcontent-c12="" class="top-stats">
    <div _ngcontent-c12="" class="cardcharts">
      <div _ngcontent-c12="" class="heading">
        Total User
      </div>
      <div _ngcontent-c12="" class="value">
        10924
      </div>
    </div>
    <div _ngcontent-c12="" class="cardcharts">
      <div _ngcontent-c12="" class="heading">
        Last 6 months (Active Users)
      </div>
      <div _ngcontent-c12="" class="value">
        6000
      </div>
    </div>
    <div _ngcontent-c12="" class="cardcharts">
      <div _ngcontent-c12="" class="heading">
        Last year (Active Users)
      </div>
      <div _ngcontent-c12="" class="value" >
        6500
      </div>
    </div>
    <div _ngcontent-c12="" class="cardcharts">
      <div _ngcontent-c12="" class="heading">
        Last 5 years (Active Users)
      </div>
      <div _ngcontent-c12="" class="value">
        8000
      </div>
    </div>
  </div>
  
  </div>