<app-topnav></app-topnav>
<div class="collapse navbar-toggleable-xs clearfix new-text-center">
<div class="maincontainersectionslider">
  <div class="imgmain-new-reg-subwrapp">
<a class="w3-btn-floating w4-display-left" (click)="plusDivs(-1)">&#10094;</a>

<div class="w3-content w3-display-container" >
  <div class="imgmain" (click)="plusDivs(1)">
  <img  class="mySlides" id="mySlides0" src="./image/BRP_TU/01.png" style="width:100%" >
  <img  class="mySlides"  id="mySlides1" src="./image/BRP_TU/02.png" style="width:100%; display:none;"  >
  <img  class="mySlides"  id="mySlides2" src="./image/BRP_TU/03.png" style="width:100%; display:none;">
  <img  class="mySlides"  id="mySlides3" src="./image/BRP_TU/04.png" style="width:100%; display:none;">
  <img  class="mySlides"  id="mySlides4" src="./image/BRP_TU/05.png" style="width:100%; display:none;">
  <img  class="mySlides"  id="mySlides5" src="./image/BRP_TU/06.png" style="width:100%; display:none;">
  <img  class="mySlides"  id="mySlides6" src="./image/BRP_TU/07.png" style="width:100%; display:none;">
  <img  class="mySlides"  id="mySlides7" src="./image/BRP_TU/08.png" style="width:100%; display:none;">
  <img  class="mySlides"  id="mySlides8" src="./image/BRP_TU/09.png" style="width:100%; display:none;">
  <img  class="mySlides"  id="mySlides9" src="./image/BRP_TU/10.png" style="width:100%; display:none">
  </div>
</div>

<a class="w3-btn-floating w4-display-right" (click)="plusDivs(1)">&#10095;</a>
</div>
</div>
</div>





