<app-topnav></app-topnav>
<div class="collapse navbar-toggleable-xs clearfix new-text-center">
<div class="maincontainersectionslider">
  <div class="imgmain-new-reg-subwrapp">
<a class="w3-btn-floating w4-display-left" (click)="plusDivs(-1);mobileShow(-1)">&#10094;</a>

<div class="w3-content w3-display-container" >
  <div class="imgmain" >
  <img  class="mySlides" id="mySlides0" src="./image/BRP_TU/01.png" style="width:100%" >
   

  <img  class="mySlides"  id="mySlides1" src="./image/BRP_TU/02.png" style="width:100%; display:none;" >
  <img  class="mySlides"  id="mySlides2" src="./image/BRP_TU/03.png" style="width:100%; display:none;">
  <img  class="mySlides"  id="mySlides3" src="./image/BRP_TU/04.png" style="width:100%; display:none;">
  <img  class="mySlides"  id="mySlides4" src="./image/BRP_TU/05.png" style="width:100%; display:none;">
  <img  class="mySlides"  id="mySlides5" src="./image/BRP_TU/06.png" style="width:100%; display:none;">
  <img  class="mySlides"  id="mySlides6" src="./image/BRP_TU/07.png" style="width:100%; display:none;">
  <!-- <img  class="mySlides"  id="mySlides7" src="./image/BRP_TU/08.png" style="width:100%; display:none;">
  <img  class="mySlides"  id="mySlides8" src="./image/BRP_TU/09.png" style="width:100%; display:none;">
  <img  class="mySlides"  id="mySlides9" src="./image/BRP_TU/10.png" style="width:100%; display:none"> -->


  <img  class="mySlidesmob" id= "mobile0" src="./image/MB_REG/1.png" style="width:100%" > 
   <img  class="mySlidesmob" id="mobile1" src="./image/MB_REG/2.png" style="width:100%; display:none;" > 
   <img  class="mySlidesmob" id="mobile2" src="./image/MB_REG/3.png" style="width:100%; display:none;" > 
   <img  class="mySlidesmob" id="mobile3" src="./image/MB_REG/4.png" style="width:100%;display:none;" >
   <img  class="mySlidesmob" id="mobile4" src="./image/MB_REG/5.png" style="width:100%;display:none;" >
   <img  class="mySlidesmob" id="mobile5" src="./image/MB_REG/6.png" style="width:100%; display:none;" >
   <img  class="mySlidesmob" id="mobile6" src="./image/MB_REG/7.png" style="width:100%; display:none;" >
   <!-- <img  class="mySlidesmob" id="mobile7" src="./image/MOB_APP/8.png" style="width:100%; display:none;" >
   <img  class="mySlidesmob" id="mobile8" src="./image/MOB_APP/9.png" style="width:100%; display:none;"  >
   <img  class="mySlidesmob" id="mobile9" src="./image/MOB_APP/10.png" style="width:100%; display:none;" > -->
  </div>
</div>

<a class="w3-btn-floating w4-display-right" (click)="plusDivs(1);mobileShow(1)">&#10095;</a>
</div>
</div>
</div>





