<app-topnav></app-topnav>
<div class="collapse navbar-toggleable-xs clearfix new-text-center">
<div class="maincontainersectionslider">
  <div class="imgmain-new-reg-subwrapp">
<a class="w3-btn-floating w4-display-left" (click)="plusDivs(-1)">&#10094;</a>

<div class="w3-content w3-display-container" *ngFor="let image of images let i=index">
  <div class="imgmain">
  <img  class="mySlides" id="mySlides{{i}}" src="{{image.base64}}" style="width:100%">
  </div>
</div>

<a class="w3-btn-floating w4-display-right" (click)="plusDivs(1)">&#10095;</a>
</div>
</div>
</div>





