 

<div class="col providers-button-cls" style="text-align:center; margin-bottom:20px; margin-top:20px;  z-index:9;">
<button style=" float: right; right: 4%; position: relative;" type="button" class="btnprov btn-infoprov btn-lgprov" data-toggle="modal" data-target="#myModal"><img src="./image/menu.png"/>
</button>
</div>
 

        <!-- -------------------Modal To Display Results In List Starts--------------------------------- -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content -->
                <div class="modal-content"  >
                    <div class="modal-header" >
                        <button type="button" class="closeN" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title-prov">Providers List</h4>
                    </div>
                    <div class="modal-body">

                        <ul class="list-group"  *ngFor="let item of providersList" style="font-size:12px;text-align:left;">

                            <li style = "border-bottom: 2px solid #e5e5e5;background-color:rgb(242, 242, 242);" (click)="clickedItemLatLong(item.latitude,item.longitude)" class="list-group-item-prov">
                                <label style="font-weight:600;">{{item.facility_name}}</label><br>
                                <label>{{item.medical_specialty}}</label><br>
                                <label>{{item.address1}}</label><br>
                                <label>{{item.city}}, {{item.state}} {{item.zip_code}}</label><br>
                                <label>Phone: {{item.phone | truncate : 0:3 }}-{{item.phone | truncate : 3:6 }}-{{item.phone | truncate : 6:10 }}</label><br>
                                <label style="font-weight:600;">{{allow2Decimals(item.distance)}} (miles)</label>
                            </li></ul>






                    </div>
                    <div class="map-pag-new" style="width:100%;">
                    <ul class="pagination" *ngIf = "showPagination">

                                              <li *ngFor = "let i of totalPages"
                                            [class.active]="item==i" >
                                               <a (click) ="paginationItemClicked($event);item = i" >{{i}}</a></li>

                                          </ul>
                      </div>
                    <div class="modal-footer">
                        <button type="button" class=" btn-defaultprov closedhov" data-dismiss="modal">Close</button>
                    </div>
                </div>

             </div>
             </div>
        <!-- -------------------Modal To Display Results In List Ends-----btnprov---------------------------- -->


<div id = "map" style class = "row row-sm md-whiteframe-z2"  >

    <div class="map-map-nn responsive"   id = "gmaps" style = "height:100%;    width: 83%;
    position: absolute;
    top: 0px;
    
    background-color: rgb(229, 227, 223);" >



    </div>

    <div class="mapfotter"  style = "text-align:center;">


    </div>
  <div style="clear:both;"></div>
</div>

