  //@import '../../common/variables.scss';
 // @import '../../common/mixins.scss';
 // @import '../../common/common.scss';
 
.panel-group {
    margin-bottom: 20px;
}

ol {
  list-style-type: decimal;
  li {
  list-style: decimal !important;
}
}
.faqscollapse {
  margin-left: 10px;
}
a.faqcollapsed p {
    color: #000;
    font-weight: 500;
}

#accordion .panel-heading.my-class:before {
   cursor: pointer;
  float:left;
  content: "+";
  position: inherit;
 @include faq-bsign;
 
}

#accordion .panel-heading.my-class2:before {
  @include faq-bsign;
  content: "-";
  margin-top: -14px;
  position: inherit;
  float: left;
      

}



  .panel-default .panel-heading {
      background-color: #f2f3f3;
  }

  .panel-heading {
      border-radius: 3px 3px 0 0;
     padding: 9px 24px;
      font-size: 16px;
  }

  .panel-body {
      padding: 16px 24px;
        font-size: 16px;
  }

  h4.panel-title.faqscollapse {
      padding-left: 15px;

  }
  .main-faq-container{
    min-height: 1px;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    position: relative;
  }
  .panel-title {
      color: inherit;
      font-size: 16px;
      margin-bottom: 0;
      margin-top: 0;
  }


@media screen and (max-width: 800px) {
  .wrapper-main-page {
      margin-bottom: 20%;
  }
/* .panel-heading {
    
    padding: 0px 13px;
} */
.main-container {
  margin: 0px;
}
 
  
ol li {
    font-size: 16px;
    line-height: 1.5;
}
.faqscollapse {
    
  
    line-height: 1.2;
}
#accordion .panel-heading.my-class:before {
    color: #000;
    position: inherit;
    margin-top: -9px;
}
 .faqbr{
  display: none;
 }

.main-faq-container {
     min-height: 0px; 
     padding-left: 0rem; 
     padding-right: 0rem; 
     position: inherit; 
}
}
@media screen and (min-width: 320px) and (max-width:480px){
#accordion .panel-heading.my-class2:before {
  margin-top: -11px;
  }

}
 @media screen and (min-width: 768px) and (max-width:1024px){
#accordion .panel-heading.my-class2:before {
     margin-top: -16px;
   }

    
 } 
 @media screen and (max-width: 768px){
/*  .panel-heading {
   padding: 6px 13px;
} */
}