 <app-topnav></app-topnav>
   
<div class="main-wrapper-eula">
  <div id="heading" style="display: none">
  <h2 class="eula-style-mm">Terms of Use Agreement</h2>
  <h3 class="eula-style-data">Please read the following agreement carefully, and at the bottom indicate if you agree or not.</h3>
  </div>
      <div class="wrapper1" style= "padding-bottom: 20px;" id="abc">


      </div>
</div>



      <footer class="foot">
      <div class="gray-green" style="margin:0 auto;">
      <div class="tt-eula"></div>
    <div class="agree-eula" >
      <button class="btn-agree" style="background-color: rgb(38,146,87);" (click)= "navigatetoreg()">I AGREE</button>
      </div>

      <div class="donot-eula" >
      <button class="btn-not" routerLink="">I DO NOT AGREE</button>
      </div>
     <div class="mm" style="width:16.66%;min-height: 1px;float: left; position: relative;"></div>
       </div>
    </footer>
 