<h1 class="fonttext">Pie charts</h1>
<div style="display:flex;"  >
        <div _ngcontent-c6="" class="gdr"></div>
<svg class="card" width="600" height="500">

</svg>
<div _ngcontent-c6="" class="card">
        
            <div _ngcontent-c6="" class="nav-tab-box">
              <div _ngcontent-c6="" class="tab">CLIENT PROGRAM NUMBER</div>
              <div _ngcontent-c6="" class="tab">CLIENT PROGRAM DESCRIPTION</div>
              <div _ngcontent-c6="" class="tab">NUMBER OF USERS ACCESSES</div>
             
        
            </div>
</div>