<!--<app-charts></app-charts>-->

<div style="display:flex;"  >
        <div class="gdr"></div>
<svg id="svg" class="card" width="600" height="500">

</svg>
<div  class="card" *ngIf="dataTable">
  
        
            <div  _ngcontent-c6="" class="nav-tab-box">
              <div  _ngcontent-c6="" class="tab active">CLIENT PROGRAM NUMBER</div>
              <div  _ngcontent-c6="" class="tab">CLIENT PROGRAM DESCRIPTION</div>
              <div  _ngcontent-c6="" class="tab">NUMBER OF USERS ACCESSES</div>


 
                </div>
 
                 
          <ul *ngFor="let currentdata of finalarr"  class="col5 tbl-data dtat">

          <li class="col7 checknum">{{currentdata.client_id}}</li>
           <li class="col7 checkdate">{{currentdata.description}}</li>
           <li class="col7 checkamnt">{{currentdata.value}}</li>
          
           <div style="clear:both;"></div>
         </ul>
        
            </div>
  
</div>