.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}
.fonttext{
font-size: 18px;
font-weight: 600;
margin-left: 24px;
color: #3f5f78;

}
.dtat{
  width:134%;
}

.dtat li{
  font-size:10px;
  display: grid;
}
.fifty .nav-tab-box[_ngcontent-c6] .tab[_ngcontent-c6]{
  background-color: rgb(64, 191, 148) !important;
}
.fivehun .nav-tab-box .tab{
  background-color: rgb(63, 95, 120) !important;
}
.fifteenhun .nav-tab-box .tab{
  background-color: rgb(239, 102, 109) !important;
}
.threethousand .nav-tab-box .tab{
  background-color: rgb(202, 221, 215) !important;
}
.morethreethousand .nav-tab-box .tab{
  background-color:  rgb(220, 196, 146) !important;
}
.card {
  // margin-top: 200px;
  overflow: scroll;
  height: 500px;
  margin-left: 16px;
  width: 48%;
  padding: 16px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 4px 22px 0 rgba(0, 0, 0, 0.2);
}
.nav-tab-box  {
  max-width: inherit; 
   position: inherit;
  right: 0;
  left: 0;
  height: auto;
  background-color: transparent;
  display: inline-block;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1em;
  width: 139%;
  min-height: 20px;
  cursor: pointer;
}

.nav-tab-box[_ngcontent-c6] .tab[_ngcontent-c6] {
  padding: 12px;
  color: black;
  font-size: 11px;
  text-align: center;
  background-color:rgb(63, 95, 120);
  outline: none;
  width: 24%;
  float: left;
  display: inline;
}