  
<app-topnav></app-topnav>
<div class="whiteblank-registration-ldregist"> 
  <br>
 <span class="registuser-registration-ldregist">REGISTERING USER</span>
 <br>
 <br>
 <ul style="font-size: 14px !important; list-style-type:none;padding: 0 15px;
 ">
 <li class="li-first-to-zip-registration" style="margin-top: 10px;" >
  First Name
</li>
<li style="list-style: outside none none;">
<input class="form-control-data-registration"   type="text" id="firstName" [(ngModel)]="firstName" />
</li>

 <li class="li-first-to-zip-registration" style="margin-top: 10px;" >
  Last Name
 </li>
 <li><input type="text" id="lastName" class="form-control-data-registration" [(ngModel)]="lastName" /></li>

 <li class="li-first-to-zip-registration" style="margin-top: 10px;" >
    Enter the Email Address where you received your claim confirmation
 </li>
 <li style="list-style: outside none none;">
 <input class="form-control-data-registration"  style="margin-bottom:20px;" type="email" id="email" oncopy="return false" onpaste="return false" [(ngModel)]="email" />
 </li>

 <li class="li-first-to-zip-registration" style="margin-top: 10px;" >
   Re-enter the Email Address
</li>
<li style="list-style: outside none none;">
<input class="form-control-data-registration"  style="margin-bottom:20px;" oncopy="return false" onpaste="return false" type="email" id="Re-email" [(ngModel)]="reEmail" />
</li>


<li class="li-first-to-zip-registration" style="margin-top: 10px;" >
   Claim Number
</li>
<li class="form-control-data-registration-bcg" style="list-style: outside none none;">
<!--<input class="form-control-data-registration"  style="margin-bottom:20px;" type="text" id="claimNumber"  [(ngModel)]="claimnum" />-->
<span [(ngModel)]="claimnum" ngDefaultControl>{{claimnum}}</span>
</li>
 </ul>
  <div class="col-xs-12 tititile">
    <div class="setup-registration">Setup Online Reset Information (Select any 3)</div>
 <ul class="new-user-ul-li-section" *ngFor="let ques of questions; let i = index">
   <li><input type="checkbox" id="checkBox{{i}}" (change)="checkValue($event,i)">{{ques.question}}</li>
          <li><input type="text" class="form-control-data-registration" id="securityAns{{i}}" [(ngModel)]="inputElem[i]" style="display:none" /></li>
   </ul>
        </div>
  <div style="padding: 0px 15px 0 15px;">
            <div class="col-12-registration-ldregist" style="width:100%;">
            <div class="col-6-registration-ldregist" >
            <button (click)="createNewUser12()" class="btn-continue-registration">Continue</button>
            </div>
            <div class="col-6-registration-ldregist">
            <button (click)="goToLogin()"  class="btn-cancel-registration">Cancel</button>
            </div>
            </div>
        
            <div class="col-15-registration-ldregist">
              <div class="col-16-registration-ldregist">
             <button class="btn-help-registration-ldregist" (click)="gotoHelp()" >Help</button>
              </div>
              </div>
              </div>
              </div>