<button class="btn btn-default" id="toggle-sidebar" type="button" (click)="eventCalled()"></button>
<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}" >
    <ul class="list-group" style="margin: 0;">
<li>
<a [routerLink]="['claims']" (click)="claimClicked = true;eventCalled();" [routerLinkActive]="['router-link-active']" class="list-group-item">
   <!--  <li [routerLink]="['claims']" (click) = "activeFooterMenu='Claim'" [class.active]="activeFooterMenu=='Claim'"> -->
    <!-- <a class="list-group-item"> -->
    <div class="image-section-sidebar">
    <img class="menu-item-img-sidebar" src=".\image\claim-info.png" >
    </div>
    <div class="image-section-span ">
    <span class="menu-item-img-span" >  Claims </span>
    </div>
    </a>
    </li>

     <!-- <li [routerLink]="['healthTicket']" (click) = "activeFooterMenu='healthTicket'" [class.active]="activeFooterMenu=='healthTicket'">
    <a class="list-group-item"> -->
    <li>
<a [routerLink]="['healthTicket']" (click)="eventCalled()" [routerLinkActive]="['router-link-active']" class="list-group-item">
    <div class="image-section-sidebar">
    <img class="menu-item-img-sidebar" src=".\image\healthTicket.png">
    </div>
    <div class="image-section-span">
    <span class="menu-item-img-span">  Health Ticket</span>
    </div>
    </a>
    </li>

     <!-- <li [routerLink]="['contact-adjuster']" (click) = "activeFooterMenu='contact-adjuster'" [class.active]="activeFooterMenu=='contact-adjuster'">
    <a class="list-group-item"> -->
    <li>
<a [routerLink]="['contact-adjuster']" (click)="eventCalled()" [routerLinkActive]="['router-link-active']" class="list-group-item">
    <div class="image-section-sidebar">
    <img class="menu-item-img-sidebar" src=".\image\contactAdjuster-64x64.png">
    </div>
    <div class="image-section-span">
    <span class="menu-item-img-span"> Contact Worker's Comp Adjuster</span>
    </div> 
    </a>
    </li>

    <!-- <li [routerLink]="['provider']" (click) = "activeFooterMenu='provider'" [class.active]="activeFooterMenu=='provider'"> -->
    <!-- <a class="list-group-item"> -->
    <li>
<a [routerLink]="['provider']" (click)="eventCalled()" [routerLinkActive]="['router-link-active']" class="list-group-item">
    <div class="image-section-sidebar">
    <img class="menu-item-img-sidebar" src=".\image\facilitylookup2_64x64.png">
    </div>
    <div class="image-section-span">
    <span class="menu-item-img-span">Providers</span>
    </div>
    </a>
    </li>

     <!-- <li [routerLink]="['faqs']" (click) = "activeFooterMenu='FAQ'" [class.active]="activeFooterMenu=='FAQ'">
    <a class="list-group-item"> -->
    <li>
<a [routerLink]="['faqs']" (click)="eventCalled()" [routerLinkActive]="['router-link-active']" class="list-group-item">
    <div class="image-section-sidebar">
    <img class="menu-item-img-sidebar" src=".\image\faq2_64x64.png">
    </div>
    <div class="image-section-span">
    <span class="menu-item-img-span">MyClaim FAQ</span>
    </div>
    </a>
    </li>
    
     

    <!-- <li [routerLink]="['social-media']" (click) = "activeFooterMenu='Social'" [class.active]="activeFooterMenu=='Social'">
    <a class="list-group-item"> -->
    <li>
<a [routerLink]="['social-media']" (click)="eventCalled()" [routerLinkActive]="['router-link-active']" class="list-group-item">
    <div class="image-section-sidebar">
    <img class="menu-item-img-sidebar" src=".\image\social2_64x64.png" >
    </div>
    <div class="image-section-span">
    <span class="menu-item-img-span" >Social Media</span>
    </div>
    </a>
    </li>

    <!-- <li [routerLink]="['tutorial']" (click) = "activeFooterMenu='Help'" [class.active]="activeFooterMenu=='Help'">
    <a class="list-group-item"> -->
    <li>
<a [routerLink]="['tutorial']" (click)="eventCalled()" [routerLinkActive]="['router-link-active']" class="list-group-item">
    <div class="image-section-sidebar">
    <img class="menu-item-img-sidebar" src=".\image\tutorial_64x64.png" >
    </div>
    <div class="image-section-span">
    <span class="menu-item-img-span" >MyClaim Tutorial</span>
    </div>
    </a>
    </li>



    <!-- <li [routerLink]="['settings']" (click) = "activeFooterMenu='Settings'" [class.active]="activeFooterMenu=='Settings'">
    <a class="list-group-item"> -->
    <!-- <li>
<a [routerLink]="['settings']" (click)="eventCalled()" [routerLinkActive]="['router-link-active']" class="list-group-item">
    <div class="image-section-sidebar">
    <img class="menu-item-img-sidebar" src=".\image\settings2_64x64.png" >
    </div>
    <div class="image-section-span">
    <span class="menu-item-img-span" >Settings</span>
    </div>
    </a>
    </li> -->

    <!-- <li [routerLink]="['']" (click) = "activeFooterMenu='Logout'" [class.active]="activeFooterMenu=='Logout'">
    <a class="list-group-item"> -->
    <!-- <li>
<a [routerLink]="['']" [routerLinkActive]="['router-link']" class="list-group-item">
    <div class="image-section-sidebar">
    <img class="menu-item-img-sidebar" src=".\image\logout_64x64.png" >
    </div>
    <div class="image-section-span">
    <span class="menu-item-img-span">Log Out</span>
    </div>
    </a>
    </li>-->
 <li> 
<a [routerLink]="['leaveTechPortal']" (click)="eventCalled()" [routerLinkActive]="['router-link-active']" class="list-group-item">
    <div class="image-section-sidebar">
    <img class="menu-item-img-sidebar" src=".\image\healthTicket.png">
    </div>
    <div class="image-section-span">
    <span class="menu-item-img-span">Leavetech Portal</span>
    </div>
    </a>
    </li>


    <a routerLink="/dashboard/home" (click)="eventCalled()" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <!-- <i class="fa fa-fw fa-dashboard"></i> Dashboard -->
        </a>
        <a [routerLink]="['chart']" (click)="eventCalled()" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <!-- <i class="fa fa-fw fa-bar-chart-o"></i> Charts -->
        </a>
        <a [routerLink]="['tables']" (click)="eventCalled()" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <!-- <i class="fa fa-fw fa-table"></i> Tables -->
        </a>
        <a [routerLink]="['forms']" (click)="eventCalled()" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <!-- <i class="fa fa-fw fa-edit"></i> Forms -->
        </a>
        <a [routerLink]="['element']" (click)="eventCalled()" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <!-- <i class="fa fa-fw fa-desktop"></i> Bootstrap Elements -->
        </a>
        <a [routerLink]="['grid']" (click)="eventCalled()" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <!-- <i class="fa fa-fw fa-wrench"></i> Bootstrap Grid -->
        </a>
        <a [routerLink]="['components']" (click)="eventCalled()" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <!-- <i class="fa fa-th-list"></i> &nbsp;Component -->
        </a>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <!-- <span><i class="fa fa-plus"></i> &nbsp; Menu</span> -->
            </a>
            <!-- <li class="nested" [ngClass]="{'expand' : showMenu === 'pages' }">
                
            </li> -->
        </div>
        <!-- <a [routerLink]="['blankpage']" (click)="eventCalled()" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <!-<i class="fa fa-file-o"></i> &nbsp;Blank Page -->
       <!--  </a>  --> 
    </ul>
    </nav>
