<nav class="sidebar" >
    <ul class="list-group" style="margin: 0;">

    <li [routerLink]="['claims']" (click) = "activeFooterMenu='Claim'" [class.active]="activeFooterMenu=='Claim'">
    <a class="list-group-item">
    <div class="image-section-sidebar">
    <img class="menu-item-img-sidebar" src=".\image\claim-info.png" >
    </div>
    <div class="image-section-span ">
    <span class="menu-item-img-span" >Claims </span>
    </div>
    </a>
    </li>

     <li [routerLink]="['healthTicket']" (click) = "activeFooterMenu='healthTicket'" [class.active]="activeFooterMenu=='healthTicket'">
    <a class="list-group-item">
    <div class="image-section-sidebar">
    <img class="menu-item-img-sidebar" src=".\image\healthTicket.png">
    </div>
    <div class="image-section-span">
    <span class="menu-item-img-span">Health Ticket</span>
    </div>
    </a>
    </li>

     <li [routerLink]="['contact-adjuster']" (click) = "activeFooterMenu='contact-adjuster'" [class.active]="activeFooterMenu=='contact-adjuster'">
    <a class="list-group-item">
    <div class="image-section-sidebar">
    <img class="menu-item-img-sidebar" src=".\image\contactAdjuster-64x64.png">
    </div>
    <div class="image-section-span">
    <span class="menu-item-img-span">Contact Adjuster</span>
    </div>
    </a>
    </li>

    <li [routerLink]="['provider']" (click) = "activeFooterMenu='provider'" [class.active]="activeFooterMenu=='provider'">
    <a class="list-group-item">
    <div class="image-section-sidebar">
    <img class="menu-item-img-sidebar" src=".\image\facilitylookup2_64x64.png">
    </div>
    <div class="image-section-span">
    <span class="menu-item-img-span">Providers</span>
    </div>
    </a>
    </li>

     <li [routerLink]="['faqs']" (click) = "activeFooterMenu='FAQ'" [class.active]="activeFooterMenu=='FAQ'">
    <a class="list-group-item">
    <div class="image-section-sidebar">
    <img class="menu-item-img-sidebar" src=".\image\faq2_64x64.png">
    </div>
    <div class="image-section-span">
    <span class="menu-item-img-span">FAQ</span>
    </div>
    </a>
    </li>
    
     

    <li [routerLink]="['social-media']" (click) = "activeFooterMenu='Social'" [class.active]="activeFooterMenu=='Social'">
    <a class="list-group-item">
    <div class="image-section-sidebar">
    <img class="menu-item-img-sidebar" src=".\image\social2_64x64.png" >
    </div>
    <div class="image-section-span">
    <span class="menu-item-img-span" >Social Media</span>
    </div>
    </a>
    </li>

    <li [routerLink]="['tutorial']" (click) = "activeFooterMenu='Help'" [class.active]="activeFooterMenu=='Help'">
    <a class="list-group-item">
    <div class="image-section-sidebar">
    <img class="menu-item-img-sidebar" src=".\image\tutorial_64x64.png" >
    </div>
    <div class="image-section-span">
    <span class="menu-item-img-span" >Tutorial</span>
    </div>
    </a>
    </li>



    <li [routerLink]="['settings']" (click) = "activeFooterMenu='Settings'" [class.active]="activeFooterMenu=='Settings'">
    <a class="list-group-item">
    <div class="image-section-sidebar">
    <img class="menu-item-img-sidebar" src=".\image\settings2_64x64.png" >
    </div>
    <div class="image-section-span">
    <span class="menu-item-img-span" >Settings</span>
    </div>
    </a>
    </li>

    <li [routerLink]="['']" (click) = "activeFooterMenu='Logout'" [class.active]="activeFooterMenu=='Logout'">
    <a class="list-group-item">
    <div class="image-section-sidebar">
    <img class="menu-item-img-sidebar" src=".\image\logout_64x64.png" >
    </div>
    <div class="image-section-span">
    <span class="menu-item-img-span">Log Out</span>
    </div>
    </a>
    </li>
    </ul>
    </nav>
