
.mainimg img{
    max-width: 100%;
}

.w5-display-right {
    position: absolute;
    top: 50%;
    right: 48px;
    background-color: #007a33;
    border-radius: 50%;
    font-size: 18px;
    padding: 3px 14px 5px 15px;
    text-align: center;
    border: 0 none;
    color:white;
}

.w5-display-left {
    position: absolute;
    top: 50%;
    background-color: #007a33;
    border-radius: 50%;
    font-size: 18px;
    padding: 3px 14px 5px 15px;
    text-align: center;
    border: 0 none;
    left: 299px;
    color: white;
}
.maincontainersectionslider.inner-slider-new{
    width: 80%;
    margin: 0 auto;
}
.mainimg-new-reg-subwrapp{
    width: 100%;
    display: inline-block;
    margin: 0 auto;
}

@media screen and (max-width: 450px){
.w5-display-right {
    right: 26px;
    top: 45%;
}
    .w5-display-left{
    left: 26px;
    top: 45%;
    }
    }
@media screen and (min-width:455px) and (max-width:770px){
    .w5-display-left{
        top: 45%;
        left: 77px;
    }
}
@media screen and (min-width:455px) and (max-width:770px){
    .w5-display-right{
        top: 45%;
        right: 61px;
    }
}
@media screen and (max-width: 600px) and (min-width: 320px)
{
.mainimg {
    width: 258px;
    margin-left: -45px;
}
}

