<div class="maincontainersectionslider inner-slider-new">
  <div class="mainimg-new-reg-subwrapp">
<a class="w3-btn-floating w5-display-left" (click)="plusDivs(-1);mobileShow(-1)">&#10094;</a>

<div class="w3-content w3-display-container" >
  <div class="mainimg">
  <img  class="mySlides" id="mySlides0" src="./image/BRP_APP_TUT/1.png" style="width:100%">
  <img  class="mySlides" id="mySlides1" src="./image/BRP_APP_TUT/2.png" style="width:100%; display:none;">
  <img  class="mySlides" id="mySlides2" src="./image/BRP_APP_TUT/3.png" style="width:100%; display:none;">
  <img  class="mySlides" id="mySlides3" src="./image/BRP_APP_TUT/4.png" style="width:100%; display:none;">
  <img  class="mySlides" id="mySlides4" src="./image/BRP_APP_TUT/5.png" style="width:100%; display:none;">
  <img  class="mySlides" id="mySlides5" src="./image/BRP_APP_TUT/6.png" style="width:100%; display:none;">
  <img  class="mySlides" id="mySlides6" src="./image/BRP_APP_TUT/7.png" style="width:100%; display:none;">
  <img  class="mySlides" id="mySlides7" src="./image/BRP_APP_TUT/8.png" style="width:100%; display:none;">
  <img  class="mySlides" id="mySlides8" src="./image/BRP_APP_TUT/9.png" style="width:100%; display:none;">

  <img  class="mySlidesmobile" id= "mobile0" src="./image/MOB_APP/1.png" style="width:100%" >
  <img  class="mySlidesmobile" id= "mobile1" src="./image/MOB_APP/2.png" style="width:100%" >
  <img  class="mySlidesmobile" id= "mobile2" src="./image/MOB_APP/3.png" style="width:100%" >
  <img  class="mySlidesmobile" id= "mobile3" src="./image/MOB_APP/4.png" style="width:100%" >
  <img  class="mySlidesmobile" id= "mobile4" src="./image/MOB_APP/5.png" style="width:100%" >
  <img  class="mySlidesmobile" id= "mobile5" src="./image/MOB_APP/6.png" style="width:100%" >
  <img  class="mySlidesmobile" id= "mobile6" src="./image/MOB_APP/7.png" style="width:100%" >
  <img  class="mySlidesmobile" id= "mobile7" src="./image/MOB_APP/8.png" style="width:100%" >
  <img  class="mySlidesmobile" id= "mobile8" src="./image/MOB_APP/9.png" style="width:100%" >
  <img  class="mySlidesmobile" id= "mobile9" src="./image/MOB_APP/10.png" style="width:100%" >
  </div>
</div>

<a class="w3-btn-floating w5-display-right" (click)="plusDivs(1);mobileShow(1)">&#10095;</a>

</div>
</div>
