 

    <div class="whiteblank-about">
   <div class="info-structure-about">

    <ul style="padding: 40px 0px;">

        <li class="setion-infoli" >

        <div class="content-info-about">
          <div class="content-infosectionn-about">
            <span>Version : </span>
        </div>

        <div class="content-conclsvalue-about">
            <span >4.0</span>
        </div>
       </div>

      <div class="content-info-about">
          <div class="content-infosectionn-about">
            <span>Published Date :</span>
          </div>

          <div class="content-conclsvalue-about">

            <span>7 September 2017</span>

          </div>
      </div>

      <div class="content-info-about">
          <div class="content-infosectionn-about">
            <span>Build# :</span>
          </div>

          <div class="content-conclsvalue-about">
            <span>01</span>
          </div>
      </div>

     <div class="content-info-about">
          <div class="content-infosectionn-about">
            <span>Copyright :</span>
          </div>

          <div class="content-conclsvalue-about">
            <span>Broadspire Services, Inc.</span>
          </div>
      </div>
</li>
</ul>

</div>
</div>

 
