<div class="image-section seting-main-pg-nn" id="settingsun" >
  
    <ul class="nav-lists">

    <div class="image-row extratopcls">

            <div class="section-image-setting rgt"  style="cursor:pointer;" >
            <img src=".\image\change-security-info.png" (click)="securityinfo()" >
            </div>

            <div class="section-image-setting lft" style="cursor:pointer;">
            <img src=".\image\chaange-password.png" (click)="changePassword()">
            </div>


    </div>


    <div class="image-row">

            <div class="section-image-setting rgt" style="cursor:pointer;" >
            <img src=".\image\about-the-app.png" (click)="aboutTheApp()">
            </div>

            <div class="section-image-setting lft" style="cursor:pointer;" >
             <img src=".\image\change-userID.png" (click)="changeId()">
            </div>
            </div>

            
    <div class="image-row">
                
            <div class="section-image-setting rgt" style="cursor:pointer;" >
            <img src=".\image\Notification.png" (click)="notification()">
            </div>
                                        
            </div>
    
</ul>
 
</div>
