<div class="image-section seting-main-pg-nn">


    <ul class="nav-lists">

    <div class="image-row">

            <div class="section-image-setting rgt" style="cursor:pointer;" (click)="securityinfo()">
            <img src=".\image\change-security-info.png">
            </div>

            <div class="section-image-setting lft" style="cursor:pointer;"(click)="changePassword()">
            <img src=".\image\chaange-password.png" >
            </div>


    </div>


    <div class="image-row">

            <div class="section-image-setting rgt" style="cursor:pointer;" (click)="aboutTheApp()">
            <img src=".\image\about-the-app.png">
            </div>

            <div class="section-image-setting lft" style="cursor:pointer;" (click)="changeId()">
             <img src=".\image\change-userID.png" >
            </div>
            </div>

    
</ul>

</div>
