 <app-topnav></app-topnav>
 <div class="center-block-forgot">

  <br><div style="font-weight: 600;color: #258c52;text-decoration: underline;">Please validate your registration information  </div>

    </div>

<div class="whiteblank-forgot"> 
   
 <ul style="font-size: 14px !important; list-style-type:none;padding: 15px 15px;
">
<li class="li-first-to-zip-forgot" style="margin-top: 10px;"> 
     Question 1
      </li>
 <li class="li-first-to-zip-forgot" > 
   {{secQues1}}
  </li>

 <li class="li-first-to-zip-forgot"> 
    Answer 1
      </li>

  <li style="list-style: outside none none;">
  <input class="form-control-data-forgot" [(ngModel)]="Answer1" type="text">
  </li>

   <li class="li-first-to-zip-forgot" style="margin-top: 10px;"> 
   Question 2
     </li>

 <li class="li-first-to-zip-forgot"> 
    {{secQues2}}
      </li>

 <li class="li-first-to-zip-forgot"> 
   Answer 2
      </li>
   <li style="list-style: outside none none;">
   <input class="form-control-data-forgot" type="text" [(ngModel)]="Answer2">
    
   </li>
    

   <li class="li-first-to-zip-forgot" style="margin-top: 10px;" >
    Question 3
  </li>
  <li class="li-first-to-zip-forgot"> 
  {{secQues3}}
      </li>
      <li class="li-first-to-zip-forgot"> 
   Answer 3
      </li>
  <li style="list-style: outside none none;">
  <input class="form-control-data-forgot" [(ngModel)]="Answer3" type="text" style="padding: 10px;
    font-size: 16px;">
  </li>

   </ul>

 

    <div style="padding: 0px 15px 0 15px;">

    <div class="col-12-forgot" style="width:100%;">
    <div class="col-6-forgot" >
    <button class="btn-continue-forgot" type="submit"  (click)="ValidateUserSecurityAnswers(Answer1, Answer2, Answer3)">Continue</button>
    </div>
    <div class="col-6-forgot">
    <button type="submit" (click)="cancelSecAns()" class="btn-cancel-forgot">Cancel</button>
    </div>
    </div>
    <div class="col-15-forgot">
      <div class="col-16-forgot">
     <button class="btn-forgot" type="submit" (click)="gotovalidate()">Forgot Security Answers</button>
      </div>
      </div>

     </div>
     </div>