
.leaave-disablity .sidebar {
    display: none;
}
.leave-portal .mycomp-tp:first-child .list-group-item-mycom.sjsj {
    border: 0px;
    padding: 0px;
}

       .whiteblank-registration{
        
        margin-top: 1%;
       }
   
