<div class="mobileFooter">

    <div class="hidden-content slide-down" id="togg-dv" class= "togg-dv" style="float: right;font-size: 10px;line-height: 26px;width: 20%;background: #f6f6f6 none repeat scroll 0 0; display:none; ">

<div id="FAQ" class="pop-blur-dv" [routerLink]="['faqs']" (click) = "removeMoreOptions()">
    <div class="midd-content" >
    <a href="#" md-ink-ripple [routerLink]="['faqs']" (click)="activeFooterMenu='FAQ'; removeMoreOptions()">
    <img  src=" .\image\faq2_64x64.png" [routerLink]="['faqs']" />
    <div style="clear:both;"></div>
    <span [routerLink]="['faqs']">FAQ</span></a>
    </div>
    </div>

     <div class="pop-blur-dv" id="Social" >
    <div class="midd-content" >
    <a md-ink-ripple [routerLink]="['social-media']" (click)="activeFooterMenu ='Social';removeMoreOptions()">
    <img  src=".\image\social2_64x64.png" >
    <div style="clear:both;"></div>
     <span  >Social</span></a>
    </div>
    </div>

 <!-- <div class="pop-blur-dv" id="social-media" [routerLink]="['social-media']" (click) = "removeMoreOptions()">
    <div class="midd-content" >
    <a md-ink-ripple [routerLink]="['social-media']" (click)="activeFooterMenu = 'social'; removeMoreOptions()">
    <img  src=".\image\tutorial_64x64.png"  [routerLink]="['social-media']" />
    <div style="clear:both;"></div>
    <span [routerLink]="['social-media']">Social</span></a>
    </div>
    </div>
 -->




    <div class="pop-blur-dv" id="Tutorial">
    <div class="midd-content" >
    <a md-ink-ripple [routerLink]="['tutorial']" (click)="activeFooterMenu = 'Tutorial'; removeMoreOptions()">
    <img  src=".\image\tutorial_64x64.png" >
    <div style="clear:both;"></div>
    <span  >Tutorial</span></a>
    </div>
    </div>


    <!-- <div  class="pop-blur-dv" id="Settings" >
    <div class="midd-content" >
    <a md-ink-ripple [routerLink]="['settings']" (click)="activeFooterMenu = 'Settings'; removeMoreOptions()">
    <img src=".\image\settings2_64x64.png" >
    <div style="clear:both;"></div>
    <span >Settings</span></a>
    </div>
    </div> -->

<!-- 
    <div class="pop-blur-dv " id="Log Out"  >
    <div class="midd-content" >
    <a md-ink-ripple [routerLink]="['']" (click)="activeFooterMenu = 'Logout';removeMoreOptions()">
    <img src=".\image\logout_64x64.png">
    <div style="clear:both;"></div>
    <span >Logout</span></a>
    </div>
    </div> -->

     <!--<div class="pop-blur-dv" id="Social" >
    <div class="midd-content" >
    <a md-ink-ripple [routerLink]="['leaveTechPortal']" (click)="activeFooterMenu ='Social';removeMoreOptions()">
    <img  src=".\image\social2_64x64.png" >
    <div style="clear:both;"></div>
     <span  >Leavetech Portal</span></a>
    </div>
    </div> -->
    
    </div>

     




    <div style="clear:both;"></div>
    <div class="main-data-div" >
    <div class="col2-xx-mm activeFooter" id="Claims" >
    <div class="midd-content"  >
    <a md-ink-ripple [routerLink]="['claims']" (click)="activeFooterMenu='Claim Info';claimFooterClick()">
    <img class="menu-item-img-sidebar" src=".\image\claim-info.png" >
    <div style="clear:both;"></div>
     <span>Claims </span>
    </a>
    </div>
    </div>


     <!--<div class="col2-xx-mm" id="Claims">

      <div class="midd-content">
        <a md-ink-ripple [routerLink]="['claims']" (click)="activeFooterMenu = 'Claim Info';claimFooterClick()">
           <img class="menu-item-img-sidebar" src=".\image\claim-info.png" >

          <div style="clear:both;">

          </div><span>Claims</span></a>
      </div>
       </div>-->
        



    <div class="col2-xx-mm"  id="Health Ticket" >
    <div class="midd-content" >
    <a md-ink-ripple [routerLink]="['healthTicket']" (click)="activeFooterMenu = 'Health Ticket'">
    <img src=".\image\healthTicket.png">
    <div style="clear:both;"></div>
    <span>Ticket</span>
    </a></div>
    </div>


    <div class="col2-xx-mm"  id="Contact">
    <div class="midd-content"  >
    <a md-ink-ripple [routerLink]="['contact-adjuster']" (click)="activeFooterMenu = 'Contact Adjuster'">
    <img src=".\image\contactAdjuster-64x64.png" />
    <div style="clear:both;"></div>
    <span>Contact</span></a>
    </div>
    </div>

    <div class="col2-xx-mm"  id="Providers">
    <div class="midd-content">
    <a md-ink-ripple [routerLink]="['provider']" (click)="activeFooterMenu = 'Facility Lookup';footerProviderClick()">
    <img src=".\image\facilitylookup2_64x64.png">
    <div style="clear:both;"></div>
    <span>Providers</span></a>
    </div>
    </div>

    <div class="col2-xx-mm" id="moretogg" >
    <div class="toggle-content" (click)="enableToggle($event)">
    <a><img src=".\image\more-fill.png">
    </a>
    
    <div style="clear:both;"></div>
    <span>More</span>
    </div>
    </div>
     <div style="clear:both;"></div>
    </div>


    </div>
